/* body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  } */

html,body{
    height: 100%;
    width: 100%;
}
.main-cont{
    height: 100%;
    width: 100%;
    background-image: url("wp3.jpg");
    background-size: cover;
    /* background-color: rgba(106, 145, 255, 0.962); */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: flex-end;
    align-items: end; */
    
    /* display: */
}
.card{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgba(0, 0, 0, 0.522);
    color: aliceblue;
    padding: 15px;
}
.box{
    width: 100px;
    height: 100px;
    border-radius: 1px solid black;
}